<h1>All Markets<h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @markets.each do |market| %>
    <tr class="market" >
      <td><%= market.name %></td>
      <td><%= market.city %></td>
      <td><%= market.state %></td>
      <td><%= button_to 'More Info', market_path(market.id), method: :get %></td>
    </tr>
    <% end %>
  </tbody>
</table>