<h1><%= @market.name %></h1>

<h3><%= @market.street %></h3>
<h3><%= @market.format_address %></h3>

<h2>Vendors at our Market:</h2>
<% @vendors.each do |vendor| %>
  <%= link_to vendor.name, vendor_path(vendor.id) %><br>
<% end %>
